body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

span {
    white-space: nowrap;
}

#container {
    max-width: 1024px;
    min-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#root {
    margin-top: 50px;
    display: flex;
    max-width: 1024px;
    min-width: 900px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#top {
    margin-top: 50px;
    display: flex;
    max-width: 1024px;
    min-width: 900px;
    min-height: 100px;
    flex-wrap: wrap;
    border-radius: 15px;
    text-align: center;

    color: white;
    font-size: 96px;
}

#footer {
    max-width: 1024px;
    min-width: 900px;
    display: flex;
    width: 90%;
    color: white;
}

@media screen and (orientation: portrait){
    #footer span {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

#footer:after {
    height: 30px;
}

#footer a {
    /*text-decoration: none;*/
    color: #66ccff;
}


#footer a:visited {
    color: #66ccff;
}

.item {
    margin-bottom: 30px;
    display: flex;
    flex: 0 0 auto;
    width: 45%;
    min-width: 300px;
    height: 250px;
    border-radius: 15px;
    transition: .3s .1s;
    align-items: flex-end;
}

.item:hover {
    border-radius: 20px;
}

.item-text-1 {
    flex-wrap: nowrap;
    min-width: 300px;
}

.item-text-1 span {
    flex-wrap: nowrap;
    font-size: 72px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: white;
}

.item-text-2 {
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.item-text-2 span {
    font-size: 36px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: white;
}